* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: hsl(20, 50%, 98%);
  color: hsl(14, 65%, 9%);
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 2rem 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
}
.container .menu {
  display: grid;
  gap: 1.5rem;
  align-content: start;
}
.container .menu__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.container .menu__foods {
  display: grid;
  gap: 2.5rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.container .menu__foods__food {
  display: grid;
  gap: 2rem;
}
.container .menu__foods__food__images {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
.container .menu__foods__food__images.selected {
  border-color: hsl(14, 86%, 42%);
}
.container .menu__foods__food__features {
  display: grid;
  gap: 1rem;
  justify-items: center;
  position: relative;
}
.container .menu__foods__food__features__buttons {
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% - 2rem));
  width: max-content;
}
.container .menu__foods__food__features__buttons > * {
  display: none;
}
.container .menu__foods__food__features__buttons > *.show {
  display: flex;
}
.container .menu__foods__food__features__buttons__cart {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(12, 20%, 44%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(14, 25%, 72%);
  padding: 0.75rem 1.5rem;
  gap: 0.75rem;
  align-items: center;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
.container .menu__foods__food__features__buttons__cart:hover {
  background-color: hsl(13, 31%, 94%);
  color: hsl(14, 86%, 42%);
}
.container .menu__foods__food__features__buttons__cart__icon {
  color: hsl(14, 86%, 42%);
}
.container .menu__foods__food__features__buttons__count {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: hsl(14, 86%, 42%);
  padding: 0.75rem 1rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}
.container .menu__foods__food__features__buttons__count__button-minus, .container .menu__foods__food__features__buttons__count__button-plus {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border: 1px solid hsl(13, 31%, 94%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
}
.container .menu__foods__food__features__buttons__count__button-minus:hover, .container .menu__foods__food__features__buttons__count__button-plus:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(14, 86%, 42%);
}
.container .menu__foods__food__features__buttons__count__value {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  color: hsl(0, 0%, 100%);
}
.container .menu__foods__food__features__texts {
  display: grid;
  gap: 0.25rem;
  justify-items: left;
  width: 100%;
}
.container .menu__foods__food__features__texts__type {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(14, 25%, 72%);
}
.container .menu__foods__food__features__texts__name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
.container .menu__foods__food__features__texts__price {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  color: hsl(14, 86%, 42%);
}
.container .cart {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  align-content: start;
}
.container .cart__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.container .cart__items {
  display: grid;
  gap: 1rem;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 0.5rem;
}
.container .cart__items__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.container .cart__items__item__features {
  display: grid;
  gap: 0.5rem;
}
.container .cart__items__item__features__name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
.container .cart__items__item__features__item-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.container .cart__items__item__features__item-info__amount {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  color: hsl(14, 86%, 42%);
}
.container .cart__items__item__features__item-info__price {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(14, 25%, 72%);
}
.container .cart__items__item__features__item-info__total-price {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(14, 25%, 72%);
  font-weight: 600;
}
.container .cart__items__item__button-remove {
  border: 1px solid hsl(14, 25%, 72%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  color: hsl(14, 25%, 72%);
}
.container .cart__items__item__button-remove i {
  line-height: 24px;
}
.container .cart__items__item__button-remove:hover {
  border-color: hsl(14, 86%, 42%);
  color: hsl(14, 86%, 42%);
}
.container .cart__items__empty {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem 0;
}
.container .cart__items__empty__icon {
  font-size: 3rem;
  color: hsl(14, 25%, 72%);
}
.container .cart__items__empty__text {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
.container .cart__order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .cart__order-total__text {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(12, 20%, 44%);
  color: hsl(14, 65%, 9%);
  font-weight: 400;
}
.container .cart__order-total__price {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.container .cart__text-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: hsl(20, 50%, 98%);
  padding: 0.75rem;
  border-radius: 8px;
}
.container .cart__text-info__icon {
  color: hsl(159, 69%, 38%);
}
.container .cart__text-info__paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(12, 20%, 44%);
  color: hsl(12, 18%, 24%);
  font-weight: 600;
}
.container .cart__button-confirm {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: hsl(14, 86%, 42%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  font-weight: 600;
}
.container .cart__button-confirm:hover {
  background-color: hsl(14, 86%, 32%);
}
.container .popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: none;
}
.container .popup.show {
  display: grid;
}
.container .popup__frame {
  width: 100%;
  height: 100%;
  background-color: rgba(37.8675, 14.994, 8.0325, 0.5);
  display: grid;
  place-content: center;
  padding: 1.5rem;
}
.container .popup__frame__content {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 3rem);
  gap: 1.5rem;
  width: 100%;
  max-width: 460px;
}
.container .popup__frame__content__icon {
  font-size: 2.5rem;
  color: hsl(159, 69%, 38%);
}
.container .popup__frame__content__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.container .popup__frame__content__paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(12, 20%, 44%);
  color: hsl(12, 18%, 24%);
}
.container .popup__frame__content__items {
  display: grid;
  gap: 1rem;
  background-color: hsl(20, 50%, 98%);
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;
}
.container .popup__frame__content__items__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.container .popup__frame__content__items__item__images {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}
.container .popup__frame__content__items__item__features {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}
.container .popup__frame__content__items__item__features__name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
.container .popup__frame__content__items__item__features__item-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.container .popup__frame__content__items__item__features__item-info__amount {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  color: hsl(14, 86%, 42%);
}
.container .popup__frame__content__items__item__features__item-info__price {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(14, 25%, 72%);
}
.container .popup__frame__content__items__item__total-price {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
  color: hsl(12, 18%, 24%);
  white-space: nowrap;
}
.container .popup__frame__content__order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid hsl(13, 31%, 94%);
}
.container .popup__frame__content__order-total__text {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(12, 20%, 44%);
  color: hsl(14, 65%, 9%);
  font-weight: 400;
}
.container .popup__frame__content__order-total__price {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.container .popup__frame__content__button-new {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: hsl(14, 86%, 42%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  font-weight: 600;
}
.container .popup__frame__content__button-new:hover {
  background-color: hsl(14, 86%, 32%);
}

@media screen and (min-width: 768px) {
  .container .menu__foods {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 400px;
    align-items: start;
    padding: 2rem;
  }
  .container .menu {
    padding: 1.5rem 0;
  }
  .container .cart {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100vh - 4rem);
  }
  .container .cart > * {
    flex-grow: 0;
  }
  .container .cart__items {
    max-height: unset;
    flex-grow: 1;
    align-content: flex-start;
  }
  .container .cart__items.empty-center {
    align-content: center;
  }
}