// $Variable =====
// ================
$clr-primary: hsl(176, 68%, 64%);
$clr-secondary: hsl(198, 60%, 50%);
$clr-error: hsl(0, 100%, 63%);

$clr-text-primary: #fff;
$clr-text-secondary: rgba($clr-text-primary, 0.8);

$clr-bg-testimonials: hsl(219, 30%, 18%);
$clr-bg-container: hsl(218, 28%, 13%);
$clr-bg-footer: hsl(216, 53%, 9%);

$font-head: "Raleway", sans-serif;
$font-text: "Open Sans", sans-serif;

$transition: all 0.2s;

// @Mixin =====
// =============

@mixin grid-center {
  display: grid;
  align-items: center;
  justify-content: center;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin link {
  & > * {
    transition: $transition;
  }
  a {
    color: $clr-text-secondary;
  }
  a:hover {
    color: $clr-text-primary;
    text-decoration: underline;
  }
}
@mixin text-content($title: 1.75rem, $paragraph: 18px, $gap: 1.5rem) {
  @include grid-center();
  max-width: 660px;
  text-align: center;
  padding: 0 1rem;
  gap: $gap;

  &__title {
    color: $clr-text-primary;
    font-size: $title;
    line-height: 1.6;
  }
  &__paragraph {
    color: $clr-text-secondary;
    font-size: $paragraph;
  }
}
@mixin button($type: "button", $margin-top: 0) {
  width: 100%;
  max-width: 340px;
  margin-top: $margin-top;
  padding: 1.25rem 2rem;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: 600;
  color: $clr-text-primary;
  cursor: pointer;
  transition: $transition;
  box-shadow: 0 0 6px 0 rgba($clr-primary, 0.3);
  background-image: linear-gradient(
    to right,
    $clr-primary -30%,
    $clr-secondary
  );

  &:hover {
    box-shadow: 0 0 8px 0 rgba($clr-primary, 0.7);
    background-image: linear-gradient(
      to right,
      $clr-primary -0%,
      $clr-secondary 130%
    );
  }

  @if $type == "input" {
    color: $clr-bg-footer;
    cursor: unset;
    background-color: $clr-text-primary;
    box-shadow: unset;
    background-image: unset;

    &:hover {
      box-shadow: unset;
      background-image: unset;
    }
  }
}

// Base Style =====
// ================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
  font-size: 16px;
  color: $clr-text-primary;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
input {
  border: unset;
  outline: unset;
}

// STYLE =====
// ===========
.container {
  display: grid;
  background-color: $clr-bg-container;

  & > *:not(.header):not(.footer) {
    margin-bottom: 160px;
    padding: 0 5vw;
  }
  .header {
    padding: 1rem 5vw 3rem 5vw;
  }
  .footer {
    padding: 340px 8vw 3rem 8vw;
    margin-top: 220px;
  }
}

// Header =====
.header {
  background-color: $clr-bg-testimonials;
  display: grid;
  gap: 1rem;
  justify-items: left;

  & * {
    font-family: $font-head;
  }
  //
  &__logo {
    @include flex-center();
    gap: 0.5rem;
    & > * {
      font-size: 2rem;
    }
  }
  //
  &__nav {
    @include flex-center();
    gap: 1rem;
    &__item {
      @include link();
    }
  }
}

// Content1 =====
.content1 {
  z-index: 1;
  background-color: $clr-bg-testimonials;
  @include grid-center();
  justify-items: center;
  gap: 2.5rem;
  position: relative;
  //
  &__ilustration {
    z-index: 2;
    @include grid-center();
    place-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    &__img {
      width: 100%;
      height: auto;
    }
  }
  //
  &__text-content {
    z-index: 2;
    @include text-content();
    justify-items: center;
    &__button {
      @include button($margin-top: 2rem);
    }
  }
  //
  &__absolute-bg {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: grid;
    &__img {
      justify-self: center;
      width: 100%;
    }
  }
}

// Content2 =====
.content2 {
  z-index: 2;
  display: grid;
  &__features {
    @include grid-center();
    text-align: center;
    gap: 6rem;
    //
    &__item {
      @include text-content(1.5rem, 18px, 1rem);
      &__icon {
        color: $clr-primary;
        font-size: 5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

// Content3 =====
.content3 {
  @include grid-center();
  justify-items: center;
  gap: 2.5rem;
  //
  &__ilustration {
    @include grid-center();
    place-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    &__img {
      width: 100%;
      height: auto;
    }
  }
  //
  &__text-content {
    @include text-content(1.5rem, 18px, 1rem);
    text-align: left;

    &__link {
      justify-self: left;
      @include flex-center();
      gap: 1rem;
      margin-top: 1rem;
      padding-bottom: 4px;
      border-bottom: 1px solid $clr-primary;
      & > * {
        transition: $transition;
      }

      &__text {
        color: $clr-primary;
      }
      &__icon {
        border-radius: 50%;
        padding: 4px;
        font-size: 12px;
        background-color: $clr-primary;
        color: $clr-bg-container;
      }
      // Hover
      &:hover {
        border-bottom: 1px solid $clr-text-primary;
        .content3__text-content__link__text {
          color: $clr-text-primary;
        }
        .content3__text-content__link__icon {
          background-color: $clr-text-primary;
          color: $clr-bg-container;
        }
      }
    }
  }
}

// Content4 =====
.content4 {
  @include grid-center();
  position: relative;
  //
  &__logo {
    max-width: 520px;
    position: absolute;
    margin-left: 8vw;
    top: -3.5rem;
    @include grid-center();
    justify-content: left;

    &__icon {
      font-size: 2.5rem;
      color: $clr-text-primary;
    }
  }
  //
  &__opinions {
    @include grid-center();
    gap: 2rem;
    padding: 0 3vw;

    &__item {
      @include text-content($paragraph: 16px, $gap: 2rem);
      background-color: $clr-bg-testimonials;
      border-radius: 6px;
      padding: 2rem 1.75rem;
      justify-items: left;
      text-align: left;
      box-shadow: 4px 4px 6px 0 rgba(#000, 0.2);

      &__paragraph {
        line-height: 1.7;
      }
      &__profil {
        @include grid-center();
        grid-template-columns: max-content auto;
        grid-template-rows: auto auto;
        gap: 0.5rem;
        &__img {
          grid-column: 1/2;
          grid-row: 1/3;
          @include grid-center();
          align-content: center;
          text-align: center;
          margin-right: 0.5rem;
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 50%;
          font-size: 1.75rem;
          color: $clr-bg-testimonials;
          background-color: $clr-text-primary;
        }
        &__name {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        &__job {
          grid-column: 2/3;
          grid-row: 2/3;
          font-size: 14px;
        }
      }
    }
  }
}

// Footer =====
.footer {
  background-color: $clr-bg-footer;
  @include grid-center();
  grid-template-columns: 1fr 1fr;
  justify-content: unset;
  justify-items: left;
  gap: 2.5rem;
  position: relative;
  & > *:not(:first-child):not(:nth-child(2)):not(:last-child) {
    margin-bottom: 3.5rem;
  }

  // ===== grid-column
  &__absolute-input,
  &__logo,
  &__contact-info,
  &__social {
    grid-column: 1/3;
  }
  &__nav1 {
    grid-column: 1/2;
  }
  &__nav2 {
    grid-column: 2/3;
  }

  // absolute-input
  &__absolute-input {
    justify-self: center;
    position: absolute;
    top: 0;
    translate: 0 -50%;
    @include text-content($title: 1.5rem);
    justify-items: center;
    background-color: $clr-bg-testimonials;
    border-radius: 12px;
    padding: 2.5rem 2rem;
    transition: $transition;
    box-shadow: 6px 6px 8px 0 rgba(#000, 0.3);
    //
    &__frame {
      @include grid-center();
      justify-content: unset;
      width: 100%;
      position: relative;

      &__input {
        @include button($type: "input", $margin-top: 1rem);
        max-width: unset;
      }
      &__message {
        position: absolute;
        bottom: -1.75rem;
        left: 50%;
        translate: -50% 0;
        width: 100%;
        font-size: 14px;
        display: none;
      }
    }
    //
    &__button {
      @include button();
      max-width: unset;
    }

    // absolute-input **message (JS)**
    &.error,
    &.correct {
      .footer__absolute-input__frame {
        &__message {
          display: block;
        }
      }
      .footer__absolute-input__button {
        margin-top: 1.75rem;
      }
    }
    &.error .footer__absolute-input__frame {
      &__message {
        color: $clr-error;
      }
    }
    &.correct .footer__absolute-input__frame {
      &__message {
        color: $clr-primary;
      }
    }
  }

  //
  &__logo {
    @include flex-center();
    gap: 1rem;
    & > * {
      font-size: 3.5rem;
    }
  }
  //
  &__contact-info {
    @include grid-center();
    max-width: 660px;
    justify-items: left;
    gap: 1rem;
    &__item {
      @include flex-center();
      gap: 1rem;
      &__icon {
        flex-shrink: 0;
        @include grid-center();
        place-content: center;
        text-align: center;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
      }
      &__paragraph {
        color: $clr-text-secondary;
        font-size: 18px;
        line-height: 1.6;
      }
    }
    &__item:first-child {
      align-items: start;
    }
  }
  //
  &__nav1,
  &__nav2 {
    @include grid-center();
    align-self: self-start;
    gap: 0.5rem;
    &__item {
      @include link();
      font-size: 18px;
    }
  }
  //
  &__social {
    @include flex-center();
    gap: 1rem;
    &__item {
      @include grid-center();
      & > * {
        transition: $transition;
      }
      a {
        @include grid-center();
        place-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $clr-text-primary;
        border-radius: 50%;
      }
      &__icon {
        font-size: 1.25rem;
      }
      &:hover {
        a {
          background-color: white;
          & > * {
            color: $clr-bg-footer;
          }
        }
      }
    }
  }
}

// @RESPONSIVE =====
// =================

@media screen and (min-width: 1024px) {
  .container {
    & > *:not(.header):not(.footer) {
      margin-bottom: 200px;
      padding: 0 8vw;
    }
    .header {
      padding: 2rem 8vw 5rem 8vw;
    }
    .footer {
      padding: 260px 8vw 4rem 8vw;
      margin-top: 220px;
    }
  }
  // Header
  .header {
    background-color: $clr-bg-testimonials;
    @include flex-center();
    justify-content: space-between;
  }
  // Content1
  .content1 {
    &__text-content {
      @include text-content(2rem, 18px, 1.75rem);
    }
    &__ilustration {
      @include grid-center();
      place-content: center;
      justify-items: center;
      height: calc(100vh - 12rem);
      width: 100%;
      margin-bottom: 2rem;
      &__img {
        height: inherit;
        width: auto;
      }
    }
    //
    &__absolute-bg {
      bottom: -30%;
    }
  }
  // Content2
  .content2 {
    &__features {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      justify-items: center;
      align-items: start;
      gap: 6rem 8%;
      margin-right: auto;
      margin-left: auto;
      &__item {
        max-width: 480px;
      }
    }
  }
  // Content3
  .content3 {
    grid-template-columns: 53% 47%;
    justify-items: center;
    gap: 2rem;

    &__ilustration {
      height: auto;
      width: 100%;
      margin-bottom: 0rem;
      &__img {
        width: inherit;
        height: auto;
      }
    }
    &__text-content {
      @include text-content(2rem, 18px, 1.75rem);
      text-align: left;
    }
  }
  // Content4
  .content4 {
    &__logo {
      z-index: 1;
      max-width: 84vw;
      width: 100%;
      // background-color: red;unset
      &__icon {
        font-size: 4rem;
        color: $clr-primary;
      }
    }
    &__opinions {
      z-index: 2;
      grid-template-columns: repeat(3, 1fr);
      gap: 3%;
      padding: 0;
    }
  }
  // Footer
  .footer {
    grid-template-columns: 5fr 1fr 1fr;
    gap: 2.5rem;
    & > *:not(:first-child):not(:nth-child(2)):not(:last-child) {
      margin-bottom: 0rem;
    }

    // ===== grid-column
    & {
      &__absolute-input {
        grid-column: unset;
        grid-row: unset;
      }
      &__logo {
        grid-column: 1/4;
        grid-row: 1/2;
      }

      &__contact-info {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &__nav1 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &__nav2 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
      &__social {
        grid-column: 3/4;
        grid-row: 1/2;
      }
    }

    // absolute-input
    &__absolute-input {
      @include text-content(2rem, 18px, 1.75rem);
      grid-template-columns: 3fr 1.5fr;
      max-width: 85vw;
      padding: 3rem 5vw 4rem 5vw;
      //
      &__title {
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 660px;
      }
      &__paragraph {
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 660px;
        margin-bottom: 1rem;
      }
      //
      &__frame {
        grid-column: 1/2;
        grid-row: 3/4;

        &__input {
          margin: 0;
        }
        &__message {
          bottom: -2rem;
          font-size: 1rem;
        }
      }
      &__button {
        grid-column: 2/3;
        grid-row: 3/4;
      }

      // absolute-input **message (JS)**
      &.error,
      &.correct {
        .footer__absolute-input__button {
          margin-top: 0rem;
        }
      }
    }

    //
    &__contact-info {
      grid-template-columns: max-content 1fr;
      gap: 2rem;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      &__item:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      &__item:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &__item:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
    &__nav1,
    &__nav2 {
      width: 100%;
      justify-self: right;
      justify-content: right;
    }
    &__social {
      width: 100%;
      justify-self: right;
    }
  }
}
