// $Variable =====
// ================
$clr-bg1: #00021f;
$clr-bg2: #0d0f4e;
$clr-bg3: #7849fa;
$clr-gold: #ffa81a;
$clr-red: #f1394f;
$clr-blue: #1ac5ff;
// $clr-bg1: #00021f;
// $clr-bg2: #0d0f4e;
// $clr-bg3: #6935f9;
// $clr-gold: #ff9e00;
// $clr-red: #ef233c;
// $clr-blue: #00bfff;
$clr-text-primary: #fff;
$clr-text-secondary: rgba($clr-text-primary, 0.7);

$font-primary: "Rubik", sans-serif;
$transition: all 0.3s ease-in-out;

// @Mixin =====
// =============
@mixin text {
  color: $clr-text-secondary;
  font-weight: 300;
  font-size: 1rem;
}
@mixin title {
  color: $clr-text-primary;
  font-weight: 500;
  font-size: 1.25rem;
}
@mixin title-big {
  color: $clr-text-primary;
  font-weight: 500;
  font-size: 2.5rem;
}
@mixin menu-3btn {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
  background-color: transparent;

  &__circle {
    width: 6px;
    height: 6px;
    background-color: $clr-text-primary;
    border-radius: 50%;
    transition: $transition;
  }

  &:hover {
    gap: 0.4rem;
    .activities__activity__content__head__menu__circle {
      background-color: $clr-text-secondary;
    }
  }
  &:active {
    .activities__activity__content__head__menu__circle {
      background-color: $clr-gold;
    }
  }
}

// Base Style =====
// ================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

body {
  background-color: $clr-bg1;
  color: $clr-text-primary;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 3rem 1.5rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: $font-primary;
}

// STYLE =====
// ===========
.container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  gap: 2rem;
}

// Menu
.menu {
  display: grid;
  border-radius: 1rem;
  background-color: $clr-bg2;
  overflow: hidden;
  border: 1px solid white;
  //
  &__profil {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr max-content;
    justify-items: center;
    text-align: center;
    gap: 0.25rem 1rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom right, $clr-bg2 -0%, $clr-bg3 100%);

    &__photo {
      margin-bottom: 1.5rem;
      width: 8rem;
      height: 8rem;
      border: 3px solid $clr-text-primary;
      border-radius: 50%;
      display: grid;
      place-items: center;
      overflow: hidden;
      background-color: $clr-bg2;
      i {
        font-size: 6.5rem;
        transform: translateY(1rem);
      }
    }
    &__title {
      @include text;
      font-size: 0.9rem;
    }
    &__name {
      @include title-big;
    }
  }
  //
  &__track-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 4px solid darken($clr-bg2, 5%);

    &__button {
      @include text;
      font-size: 1.25rem;
      transition: color 0.2s ease;

      &:hover {
        color: $clr-blue;
      }
      &.active {
        color: $clr-text-primary;
        &:hover {
          color: $clr-blue;
        }
      }
    }
  }
}

// Activities
.activities {
  display: grid;
  gap: 1.5rem;

  &__activity {
    border: 1px solid white; // JS Edit
    border-radius: 1rem;
    overflow: hidden;
    padding-top: 2.5rem;
    position: relative;
    //
    &__header {
      position: absolute;
      top: 0;
      right: 2rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transform: rotateZ(45deg) translateY(-0.5rem);
      font-size: 3.5rem;
      opacity: 0.7;
      z-index: 1;
      // Color Class - JS
      &.Work {
        color: darken($clr-bg3, 20%);
      }
      &.Play {
        color: darken($clr-red, 20%);
      }
      &.Study {
        color: darken($clr-blue, 20%);
      }
      &.Exercise {
        color: darken($clr-gold, 20%);
      }
      &.Social {
        color: darken($clr-red, 20%);
      }
      &.Self.Care {
        color: darken($clr-blue, 20%);
      }
    }
    //
    &__content {
      position: relative;
      z-index: 2;
      background-color: $clr-bg2;
      border-bottom: 4px solid darken($clr-bg2, 5%);
      border-radius: 1rem;
      padding: 2rem;
      height: 100%;
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 2rem;
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: lighten($clr-bg2, 7%);
      }

      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__title {
          @include title;
        }
        &__menu {
          @include menu-3btn;
        }
      }

      &__times {
        display: grid;
        gap: 0.75rem;

        &__main-time {
          @include title-big;
        }
        &__second-time {
          @include text;
        }
      }
    }
  }
}

// @RESPONSIVE =====
// =================
@media screen and (min-width: 480px) {
  .menu__profil {
    text-align: left;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content;
    justify-items: unset;
    align-items: center;
    gap: 0.25rem 1rem;
    &__photo {
      grid-column: 1/2;
      grid-row: 1/3;
      width: 4.5rem;
      height: 4.5rem;
      margin-bottom: unset;
      i {
        font-size: 3.5rem;
        transform: translateY(0.5rem);
      }
    }
    &__title {
      align-self: self-end;
      grid-column: 2/3;
    }
    &__name {
      align-self: self-start;
      grid-column: 2/3;
    }
  }
  .activities {
    &__activity__content__times {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 27% auto;
  }
  .menu {
    grid-template-rows: 1fr max-content;

    &__profil {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      gap: 0.5rem;
      align-content: start;
      padding-bottom: 4rem;

      &__photo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 2.5rem;
      }
      &__title {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &__name {
        grid-column: 1/2;
        grid-row: 3/4;
        @include title-big;
      }
    }
    &__track-buttons {
      display: grid;
      justify-content: unset;
      justify-items: left;
      gap: 1rem;
      padding: 2rem 2rem 2.5rem 2rem;
    }
  }

  .activities {
    grid-template-columns: repeat(3, 1fr);

    &__activity {
      &__content {
        display: grid;
        align-content: space-between;

        &__times {
          display: grid;
          justify-content: unset;
          align-items: left;
          gap: 0.75rem;
          &__main-time {
            @include title-big;
          }
        }
      }
    }
  }
}
