/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
// Warna
$primary-dark-blue: hsl(228, 56%, 26%);
$primary-very-dark-blue: hsl(229, 57%, 11%);
$accent-gradient: linear-gradient(
  to right,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);
$neutral-pale-blue: hsl(243, 100%, 93%);
$neutral-grayish-blue: hsl(229, 7%, 55%);

// Font
$family-primary: "Raleway", sans-serif;

// Lainnya
$radius-default: 10px;
$radius-corner: 10px 100px 10px 10px;

/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
@mixin flex-center(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin desktop-view {
  @media (min-width: 768px) {
    @content;
  }
}

/*------------------------------------*\
    #BASE & RESET
\*------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $family-primary;
  font-size: 14px;
  color: $neutral-pale-blue;
  background-color: $primary-very-dark-blue;
  background-image: url("../images/gemini_bg4.png");
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  padding: 1.5rem;
  @include flex-center();
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

/*------------------------------------*\
    #COMPONENT: storage-component
\*------------------------------------*/
.storage-component {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 920px;

  @include desktop-view {
    grid-template-columns: 1fr 2fr;
    align-items: flex-end;
    gap: 2rem;
  }

  // --- ELEMENTS ---

  &__main,
  &__details {
    background-color: $primary-dark-blue;
    padding: 2.5rem;
    border-radius: $radius-default;
  }

  // LEFT === ===
  &__main {
    border-radius: $radius-corner;
  }
  // Brand
  &__brand {
    @include flex-center(row, flex-start, center);
    gap: 1rem;
    margin-bottom: 2rem;

    .fa-layer-group {
      font-size: 2rem;
    }
  }
  // Action
  &__actions {
    @include flex-center(row, flex-start, center);
    gap: 1rem;
  }
  &__action-btn {
    background-color: $primary-very-dark-blue;
    width: 50px;
    height: 50px;
    border-radius: $radius-default;
    @include flex-center();
    font-size: 1.2rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: lighten($primary-dark-blue, 10%);
    }
  }

  // RIGHT === ===
  &__details {
    position: relative;
    display: grid;
    gap: 1rem;
  }
  // Usage Text
  &__usage-text {
    text-align: center;
    strong {
      font-weight: 700;
    }

    @include desktop-view {
      text-align: left;
    }
  }
  // Status
  &__status-container {
    display: grid;
    gap: 0.5rem;
  }
  &__progress-bar {
    width: 100%;
    height: 20px;
    background-color: lighten($primary-very-dark-blue, 8%);
    border: 3px solid lighten($primary-very-dark-blue, 8%);
    border-radius: 100px;
    overflow: hidden;
  }
  &__progress {
    width: 81.5%; // Default value
    height: 100%;
    background: $accent-gradient;
    border-radius: 100px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
    }
  }
  &__limits {
    @include flex-center(row, space-between, center);
    font-weight: 700;
  }
  // Remaining
  &__remaining {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    color: $neutral-grayish-blue;
    padding: 1rem 1.5rem;
    border-radius: $radius-default;
    @include flex-center(row, center, center);
    gap: 0.5rem;
    font-weight: 700;

    span {
      color: $primary-very-dark-blue;
      font-size: 2.5rem;
    }

    @include desktop-view {
      top: -40px;
      right: 2.5rem;
      left: auto;
      bottom: auto;
      transform: translate(0%,0%);
      border-radius: $radius-default $radius-default 0 $radius-default;

      // Arrow tip
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-top: 20px solid white;
      }
    }
  }
}
