* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: hsl(210, 60%, 98%);
  color: hsl(219, 12%, 42%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-width: 730px;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.container .header__title__text {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(224, 21%, 14%);
}
.container .header__title__box-count {
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 0.1rem 0.7rem;
  border-radius: 6px;
}
.container .header__button-mark-read {
  color: hsl(219, 12%, 42%);
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}
.container .header__button-mark-read:hover {
  text-decoration: underline;
  color: hsl(219, 85%, 26%);
}
.container .header__button-mark-read:active {
  color: hsl(224, 21%, 14%);
}
.container .content {
  display: grid;
  gap: 0.75rem;
}
.container .content__notification {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto auto;
  gap: 0.5rem 1rem;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}
.container .content__notification.unread {
  background-color: hsl(210, 60%, 98%);
}
.container .content__notification__profil-image {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.container .content__notification__texts {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}
.container .content__notification__texts__actor-name {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(224, 21%, 14%);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.container .content__notification__texts__actor-name:hover {
  color: hsl(219, 85%, 26%);
}
.container .content__notification__texts__message {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(219, 12%, 42%);
}
.container .content__notification__texts__post, .container .content__notification__texts__group {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(224, 21%, 14%);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  color: hsl(219, 12%, 42%);
}
.container .content__notification__texts__post:hover, .container .content__notification__texts__group:hover {
  color: hsl(219, 85%, 26%);
}
.container .content__notification__texts__group {
  color: hsl(219, 85%, 26%);
}
.container .content__notification__texts__unread-icon {
  width: 8px;
  height: 8px;
  background-color: #00bfff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.25rem;
}
.container .content__notification__texts__unread-icon.hidden {
  display: none;
}
.container .content__notification__datetime {
  grid-column: 2/3;
  grid-row: 2/3;
  color: hsl(219, 14%, 63%);
  font-size: 0.9rem;
}
.container .content__notification__references {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  gap: 0.5rem;
}
.container .content__notification__references__images, .container .content__notification__references__files {
  display: flex;
  gap: 0.5rem;
}
.container .content__notification__references__frame {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid hsl(205, 33%, 90%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.container .content__notification__references__frame:hover {
  border-color: hsl(219, 14%, 63%);
}
.container .content__notification__references__file-icon {
  display: grid;
  place-content: center;
  font-size: 1.75rem;
  color: hsl(219, 85%, 26%);
}
.container .content__notification__references__more {
  display: grid;
  place-content: center;
  background-color: hsl(211, 68%, 94%);
  color: hsl(219, 12%, 42%);
  font-weight: 600;
}
.container .content__notification__comment-box {
  grid-column: 2/4;
  grid-row: 3/4;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid hsl(205, 33%, 90%);
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(219, 12%, 42%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.container .content__notification__comment-box:hover {
  background-color: hsl(211, 68%, 94%);
  border-color: hsl(211, 68%, 94%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
  .container {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(221.085, 230.9025, 237.915, 0.5);
  }
}/*# sourceMappingURL=style_18.css.map */