* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #f0f0f0;
  padding: 4rem 4rem 3rem 4rem;
  min-height: 30vh;
  display: grid;
  place-content: center;
}
.page-header__content {
  max-width: 600px;
  color: #223;
  display: grid;
  text-align: center;
  gap: 0.5rem;
}
.page-header__subtitle {
  font-size: 2rem;
  color: #556;
}
.page-header__title {
  font-size: 2rem;
  font-weight: 600;
}
.page-header__description {
  color: #556;
  font-size: 1rem;
}

.department-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  place-items: center;
  width: max-content;
  min-height: 70vh;
  padding: 40px;
  margin: 0 auto;
}

.department-card {
  width: 100%;
  max-width: 360px;
  height: 100%;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: grid;
  gap: 0.5rem;
}
.department-card__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #223;
}
.department-card__description {
  color: #556;
  font-size: 1rem;
}
.department-card.card-1 {
  border-top: 6px solid #4caf50;
}
.department-card.card-1 .info__icon {
  color: #4caf50;
}
.department-card.card-2 {
  border-top: 6px solid #2196f3;
}
.department-card.card-2 .info__icon {
  color: #2196f3;
}
.department-card.card-3 {
  border-top: 6px solid #9c27b0;
}
.department-card.card-3 .info__icon {
  color: #9c27b0;
}
.department-card.card-4 {
  border-top: 6px solid #ff9800;
}
.department-card.card-4 .info__icon {
  color: #ff9800;
}
.department-card.card-1 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.department-card.card-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.department-card.card-3 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.department-card.card-4 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.department-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 8px;
}
.department-card__info .info__members {
  display: grid;
  place-items: center;
}
.department-card__info .info__members-count {
  font-size: 4rem;
  line-height: 4.25rem;
  font-weight: 600;
}
.department-card__info .info__members-label {
  font-size: 1.25rem;
  font-weight: 600;
  color: #556;
}
.department-card__info .info__icon {
  font-size: 4.5rem;
}

@media (max-width: 1260px) {
  .page-header {
    padding: 3rem;
  }
  .department-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .department-container .department-card {
    max-width: 360px;
    grid-row: unset;
    grid-column: unset;
  }
}
@media (max-width: 860px) {
  .page-header {
    padding: 3rem;
  }
  .department-container {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  .department-container .department-card {
    max-width: 75vw;
    grid-row: unset;
    grid-column: unset;
  }
}