// VARS ===
$primary-orange: hsl(31, 77%, 52%);
$primary-light-orange: hsl(35, 77%, 62%);
$neutral-light-gray: hsl(204, 43%, 93%);
$neutral-grayish-blue: hsl(218, 22%, 67%);
$neutral-dark-orange: hsl(31, 77%, 42%);

$family-primary: "Karla", sans-serif;
$size-default: 16px;

// STYLE === ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $family-primary;
  background-color: $neutral-light-gray;
  font-size: $size-default;
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 1.5rem;

  .container-card {
    display: grid;
    max-width: 635px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 37, 46, 0.2);
  }
}

// Top ===
.top {
  background-color: white;
  padding: 2.5rem;
  display: grid;
  gap: 1.25rem;
  h1 {
    color: $primary-orange;
    font-size: 1.5rem;
    margin: 0;
  }
  h2 {
    color: $primary-light-orange;
    font-size: 1.125rem;
    margin: 0;
  }
  p {
    color: $neutral-grayish-blue;
    line-height: 1.6;
    margin: 0;
  }
}

// Bottom ===
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;

  .side-left,
  .side-right {
    padding: 2.5rem;
    display: grid;
    gap: 1rem;
  }
  // Side Left
  .side-left {
    background-color: $primary-orange;
    h3 {
      font-size: 1.125rem;
      margin: 0;
    }
    .price-container {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      .price {
        font-size: 2rem;
        font-weight: 700;
      }
      .per-month {
        opacity: 0.7;
      }
    }
    p {
      opacity: 0.9;
    }
    button {
      background-color: $primary-light-orange;
      color: white;
      border: none;
      padding: 0.9rem;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 700;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-light-orange, 5%);
      }
    }
  }
  // Side Right
  .side-right {
    background-color: $neutral-dark-orange;
    h3 {
      font-size: 1.125rem;
      margin: 0;
    }
    p {
      margin: 0;
      opacity: 0.75;
      line-height: 1.5;
      font-size: 0.875rem;
    }
  }
}

// @RESPONSIVE === ===
@media (max-width: 600px) {
  .container-card .bottom {
    grid-template-columns: 1fr;
    .side-left {
      order: 1;
    }
    .side-right {
      order: 2;
    }
  }
}
