* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #eee;
  color: rgb(4.1351351351, 0, 9);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 260px 1fr;
  place-items: center;
}

.background-top {
  grid-row: 1/2;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-image: url("../images/gemini_bg1.png");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-color: #720e9e;
}

.content-card {
  grid-row: 1/3;
  grid-column: 1/-1;
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.content-card__primary-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.content-card__icon {
  color: #720e9e;
  font-size: 2rem;
}
.content-card__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.content-card__accordion-menu {
  display: grid;
  gap: 1.5rem;
}
.content-card__accordion-item {
  border-bottom: 1px solid rgba(4.1351351351, 0, 9, 0.25);
  padding-bottom: 16px;
}
.content-card__accordion-item[open] .accordion-icon {
  background-color: rgba(4.1351351351, 0, 9, 0.7);
}
.content-card__secondary-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  color: rgba(4.1351351351, 0, 9, 0.7);
  cursor: pointer;
  font-weight: 600;
}
.content-card__secondary-title-container .accordion-icon {
  background-color: #720e9e;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
.content-card__accordion-content {
  padding: 16px 0;
  padding-right: 2.25rem;
  color: rgba(4.1351351351, 0, 9, 0.7);
  line-height: 1.6;
}
.content-card__button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: #720e9e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.content-card__button:hover {
  background-color: rgb(147.8023255814, 18.1511627907, 204.8488372093);
}
.content-card__button:active {
  background-color: rgba(4.1351351351, 0, 9, 0.7);
}

summary {
  list-style: none; /* Remove default marker */
  list-style-position: inside; /* Optional: include the marker inside the content */
}

@media (max-width: 768px) {
  .content-card {
    width: 85%;
    padding: 1.5rem;
  }
  .content-card__primary-title-container {
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }
  .content-card__title {
    font-size: 2rem;
  }
  .content-card__accordion-title {
    font-size: 1.125rem;
  }
}